main {
    h1 {
        text-align: center;
        padding: 0 3rem;
    }

}

.form-group {

    padding-bottom: 1rem;
    padding-left: 3rem;
}

label
{
    
	display: block;
	width: 30%;
	float: left;
   
}

button {
    @include button;
    padding: $margin-padding-default;
    display: block;
    margin: $margin-padding-default auto $margin-padding-default * 2 auto;
  
    
}