footer {
    background-color: ivory;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
    @media screen and (min-width: map-get($breakpoints, tablet)) {
        margin-top: 5%;
        
       
    }

    ul {
        display: flex;
        align-items: center;
        padding: 0;

        li {
            white-space:nowrap;
            display: flex;
            align-items: flex-end;
            padding: 0 3rem;

            a {
                display: flex;
                align-items: center;
                
            }
            svg {
                width: 10px;
                padding-left: $margin-padding-default;
            }
        }
    }
}
