$dark-grey: #353535;
$mid-grey: #eaeaea;
$light-grey: #f6f6f6;

$color-primary: #ff79da;
$color-secondary: #9356dc;
$color-tertiary: #99e2d0;
$gradient-deg: 160deg;
$lighten-percentage: 4%;

$margin-padding-default: 1rem;
$button-shadow: 1px 1px 10px #c0bfbf;
$button-shadow-plus: 1px 1px 30px #9b9b9b;
$radius: 15px;
$big-radius: 50px;

$font-size-small: 0.8rem;
$font-size-normal: 1.2rem;
$font-size-medium: 1.4rem;
$font-size-big: 1.6rem;

$anim-duration: 1s;
$anim-short: 0.3s;
$anim-delay: 0.5s;
$anim-big-delay: 2.5s;