#basket {
    main {
        h1 {
            text-align: center;
            padding: 0 3rem;
        }

        h2 {
            text-align: center;
            padding: 2rem;
        }

        table {
            
            
            text-align: center;
           
            width:50%;
            margin: auto;
            border-collapse: collapse;

            th {
                color : white;
                background-color: grey;
            }

            .delete {
               text-decoration: underline ;
              font-size: .8rem;
            }

       
        
        }
    }

    #form {
        margin: auto;
        width : 22%;

        input {

            width : 250px;
        }
    }

    .form-group {
        padding-bottom: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        
    }

    button {
        display: block;
        @include button;
        padding: $margin-padding-default;
        margin: $margin-padding-default auto $margin-padding-default * 2 auto;
    }
}
