#basket {
    main {
        h1 {
            text-align: center;
            padding: 0 3rem;
        }

        h2 {
            text-align: center;
            padding: 2rem;
        }

        table {
            font-size: 0.8rem;
            width: 50%;
            margin: auto;
            border-collapse: collapse;
            @media screen and (max-width: map-get($breakpoints, tablet)) {
                width: 80%;
            }

            th {
                text-align: left;
                @media screen and (max-width: map-get($breakpoints, tablet)) {
                    display: none;
                }
            }

            td {
                @media screen and (max-width: map-get($breakpoints, tablet)) {
                    display: block;
                    text-align: right;
                }

                &::before {
                    @media screen and (max-width: map-get($breakpoints, tablet)) {
                        content: attr(data-label);
                        font-weight: bold;
                        float: left;
                    }
                }
            }

            .id {
                @media screen and (max-width: map-get($breakpoints, tablet)) {
                    padding-top: 2rem;
                }
            }
        }

        .delete {
            font-size: 0.5rem;
            border: red 2px solid;
            color: red;
            background-color: white;
            border-radius: 15px;
            font-weight: bold;
            font-family: Arial;
            cursor: pointer;
            @media screen and (max-width: map-get($breakpoints, tablet)) {
                display: inline;
            }
        }

        button {
            display: block;
        }
    }
}

#form {
    margin: auto;
    width: 22%;
    @media screen and (max-width: map-get($breakpoints, tablet)) {
        width: 80%;
    }

    input {
        width: 250px;
        @media screen and (max-width: map-get($breakpoints, tablet)) {
            width: 60%;
        }
    }
}

.form-group {
    padding-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#submit {
    display: block;
    @include button;
    padding: $margin-padding-default;
    margin: $margin-padding-default auto $margin-padding-default * 2 auto;
}
