main {
    h1 {
        text-align: center;
        padding: 3rem;

        @media screen and (max-width: map-get($breakpoints, tablet)) {
            padding: 0;
        }
    }

    ul {
        padding: 0;
        margin: 0;
        @media screen and (min-width: map-get($breakpoints, tablet)) {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        .camera {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            position: relative;
            margin: 5% 5% 10% 5%;
            box-shadow: -1px 3px 12px 4px rgba(0, 0, 0, 0.1);
            border-radius: $radius;
            background-color: rgba(255, 255, 240, 1);
            @media screen and (min-width: map-get($breakpoints, tablet)) {
                margin: 1%;
                width: 25%;
            }

            @include shadow;

            img {
                width: 100%;
                padding-bottom: $margin-padding-default;
                border-radius: $radius;
            }

            &__subtitle {
                display: flex;
                justify-content: space-between;
                padding: 0 $margin-padding-default $margin-padding-default $margin-padding-default * 3;

                button {
                    @include button;
                    padding: 0 $margin-padding-default 0 $margin-padding-default;
                    @media screen and (min-width: map-get($breakpoints, tablet)) {
                        padding: 0 $margin-padding-default * 2 0 $margin-padding-default * 2;
                    }
                }
            }
        }
    }
}
