



.product {
    display: flex;

    @media screen and (max-width: map-get($breakpoints, tablet)) {
        flex-direction: column;
      
    }
    
   


    button {
        
        @include button;
        padding: $margin-padding-default;
        
        
    }

    img {
        position: relative;
        max-width : 28%;
        height: auto;
    
        border-radius: $radius;
        margin-left: $margin-padding-default * 6;
        box-shadow: -1px 3px 12px 4px rgba(0, 0, 0, 0.1);
        @media screen and (max-width: map-get($breakpoints, tablet)) {
            margin: 0;
            width: 100%;
            border-radius: 0;
        }
    }

    &__subtitle {
        padding-left: $margin-padding-default * 3;
        padding-right: $margin-padding-default * 6;
        @media screen and (max-width: map-get($breakpoints, tablet)) {
            padding: $margin-padding-default;
        }

        p {
            text-align: justify;
            text-justify: inter-word;
        }
    }
}
